* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(206, 211, 206);
  align-items: center;
  justify-content: center;
}
button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 8vh;
  background-color: rgb(254, 254, 254);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

#TicketHack {
  font-size: larger;
  font-weight: 800;
  color: rgb(71, 155, 133);
}
#PanierResa ul {
  display: flex;
  justify-content: space-around;
}
#PanierResa ul li {
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
}
.pages {
  height: 100%;
  border-radius: 10px;
  background-color: white;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 242, 241);
}

#centerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  padding: 30px;
}
