* {

margin: 0;
padding: 0;
}


body {
border: 2px solid red;
height: 100vh;
width: 100vw;
background-color: rgb(206, 211, 206);
display: flex;
align-items: center;
justify-content: center;
}

.title {
    border: 2px solid red;
    display: flex;
    margin-top: 150px;
    
    
}

.pages {
border: 2px solid blue;
display: flex;
align-items: center;
justify-content: space-between;
height: 35vh;
border-radius: 10px;
background-color: white;
flex-direction: column;
gap: 20px;

}

.item1 {
    border: 2px solid green;
    width: 60vw;
    background-color: beige;
    display: flex ;
    justify-content: space-around;
    height: 6vh;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.delete{
   background-color: green;
   color: white;
   padding: 5px;
   border-radius: 5px;
}

.route {



}


.time {



}

.price {
   
}

.btn {

}

.totalPurchase {

  display: flex;
  gap: 12px;
  background: #071b3d;   
  color: white;
  padding: 10px 14px;
  justify-content: space-between;
  
  
}



.purchase {
    color: white;
    background-color: rgb(1, 75, 1)
    
}